body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.music-player {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ff201c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.music-player h4 {
  color: white;
}
#artist {
  color: black;
}

.song-details {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

.song-details h2 {
  font-size: 18px;
}

input {
  width: 80%;
  margin-left: -0px;
  cursor: pointer;
}

.images {
  width: 200px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.controls button {
  padding: 20px;
  text-align: center;

  color: #ffffff;
  border: none;
  border-radius: 50%;
  background: transparent;
  margin: 0 10px;
  cursor: pointer;
}

.controls button:hover {
  background-color: black;
}

marquee {
  width: 80%;
  /* letter-spacing: 1px; */
  font-weight: 600;
  font-family: sans-serif;
}

.music-player h3 {
  color: white;
  padding: 5px;
  font-size: 12px;
}

.music-player span {
  color: #ffc100;
}

@media only screen and (max-width: 600px) {
  .music-player {
    position: fixed; /* Change position to fixed */
    top: 0; /* Anchor it to the top of the viewport */
    left: -25px; /* Anchor it to the left of the viewport */
    width: 100vw; /* Make it full width */
    height: 100vh; /* Make it full height */
    padding: 20px; /* Adjust padding */
    z-index: 9999; /* Set a high z-index to ensure it's above other content */
  }

  img {
    position: relative;
    bottom: 1%;
  }
  #track_image {
    width: 250px;
  }

  /* Adjustments for smaller screens */
  .music-player h4 {
    margin-top: 50px; /* Adjust margin top */
    font-size: 20px;
    text-align: center;
  }
  .music-player h3 {
    color: white;
    padding: 5px;
    font-size: 12px;
    position: inherit;
    top: 87%;
  }

  .song-details {
    margin-top: 30px; /* Adjust margin top */
  }

  #artist {
    margin: 10px 0; /* Adjust margin */
  }

  input {
    margin-top: 10px; /* Adjust margin top */
  }

  .images {
    width: 150px; /* Adjust image size */
  }

  .controls {
    flex-direction: row; /* Keep controls in a row */
    margin-bottom: 100px; /* Adjust margin top */
  }

  .controls button {
    margin: 5px; /* Adjust margin */
  }

  marquee {
    width: 80%; /* Make marquee span full width */
    font-size: 14px; /* Adjust font size */
  }
}
